xml/policy.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">

  <xsd:element name="Policy">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="PolicyNumber" type="xsd:string"/>
        <xsd:element name="CustomerId" type="xsd:string"/>
        <xsd:element name="Type" type="xsd:string"/>
        <xsd:element name="Premium">
          <xsd:complexType>
            <xsd:simpleContent>
              <xsd:extension base="xsd:decimal">
                <xsd:attribute name="currency" type="xsd:string" use="required"/>
              </xsd:extension>
            </xsd:simpleContent>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="StartDate" type="xsd:date"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>

</xsd:schema>